@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    height: 100vh;
    width: 100%;
    background-color: var(--Light-grayish-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main > h1 {
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 10px;
    font-size: 24px;
    color: var(--Very-dark-cyan);
    font-weight: 700;
}

.container {
    background-color: white;
    width: 920px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
}

.left {
    width: 50%;
    padding: 20px;
}

.right {
    width: 50%;
    background-color: var(--Very-dark-cyan);
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .right-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
}

.tip .tip-txt  h2{
    color: var(--Very-light-grayish-cyan);
}

.tip .tip-txt  p{
    color: var(--Grayish-cyan);
}

.tip-figure, .total-figure {
    font-size: 48px;
    color: var(--Strong-cyan);
}

.right .right-bottom a {
    background-color: var(--Strong-cyan);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--Very-dark-cyan);
}

.right .right-bottom a:hover {
    background-color: var(--Light-grayish-cyan);
}

h2 {
    font-size: 16px;
    color: var(--Dark-grayish-cyan);
}

.bill input {
    font-size: 24px;
    color: var(--Very-dark-cyan);
    font-family: inherit;
    text-align: right;
    padding: 15px 20px;
    border: none;
    outline-color: var(--Strong-cyan);
    width: 100%;
    height: 45px;
    margin-top: 10px;
    background-color: var(--Very-light-grayish-cyan);
}

.bill .input > h2 {
    position: absolute;
    top: 20px;
    left: 20px;

}

.input {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.bill {
    margin-bottom: 40px;
}

.tip-btns {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 115px);
    align-items: center;
    justify-items: center;
    grid-gap: 15px;
}

.container a {
    display: inline-block;
    background-color: var(--Very-dark-cyan);
    color: var(--Very-light-grayish-cyan);
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.container a:hover {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

/* a input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: initial;
    font-family: inherit;
    outline-color: var(--Strong-cyan);
} */

#custom {
    background-color: var(--Very-light-grayish-cyan);
    width: 100%;
    text-align: center;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    border: none;
    outline-color: var(--Strong-cyan);
}

.people {
    margin-top: 45px;

}

.people > h2 {
    margin-bottom: 10px;
}

.people .input input {
    font-size: 24px;
    color: var(--Very-dark-cyan);
    font-family: inherit;
    text-align: right;
    padding: 15px 20px;
    border: none;
    outline-color: var(--Strong-cyan);
    width: 100%;
    height: 45px;
    background-color: var(--Very-light-grayish-cyan);
}

.people input {
    position: relative;
    /* margin-top: 10px; */
}

.people img {
    position: absolute;
    top: 12px;
    left: 20px;
    z-index: 10;
}

.people #error {
    position: absolute;
    top: -30px;
    right: 0;
    color: red;
    display: none;
}

.attribution {
    font-size: 14px;
    margin-top: 20px;
}

@media (max-width: 970px) {
body {
    height: 1100px;
    width: 100%;
    justify-content: flex-start;
    padding: 0px 0px 0px 0px;
}

main > h1 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 5px;
    width: 100%;
}

.container {
    width: 100%;
    flex-direction: column;
}

.right {
    width: 100%;
}

.left {
    width: 100%;
}

main {
    width: 100%;
}

.tip-btns {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.attribution {
    font-size: 12px;
}

.tip {
    margin-bottom: 30px;
    width: 100%;
}

.right a {
    margin-top: 30px;
}

.tip-figure, .total-figure {
    font-size: 36px;
}

}